* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    Work Sans,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 1.5em;
}
nav logo {
  margin-right: 2.5rem;
}
nav ul {
  display: flex;
  min-width: 500px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
}
nav a {
  text-decoration: none;

  color: #00ad6a;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

nav a.navb {
  border: 2px solid #00ad6a;
  color: #00ad6a;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  line-height: 1.5;
  border-bottom: solid 1px;
}

nav a:focus {
  color: #080c16;
}
nav li.items {
  margin-right: 10px;
}

.navbar {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Burger Icon */
.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 2rem;
  right: 2em;
}

.burger div {
  display: none;
  width: 30px;
  height: 3px;
  background: #00ad6a;
}

/* Menu */
menu-item {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;

  background: white;
  z-index: 998;
}

menu-item a {
  color: #00ad6a;
  padding: 2em 0.5em 0;
  text-decoration: none;
  font-size: 2em;
  font-weight: 900;
  opacity: 0;
}

menu-item a.show {
  opacity: 1;
}
menu a:hover {
  background: #555;
}

/* Active state */
menu-item.active {
  display: flex;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  max-width: 1200px;
  height: fit-content;
  margin-bottom: 3.5em;
}
header h1 {
  text-align: center;
  color: #080c16;
  font-size: 60px;
  margin-bottom: 0.3em;
}

header p {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  line-height: 1.5;
  font-weight: regular;
}

.pricing {
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;

  padding: 1em 1em;
}

/* LEFT COLUMN */
.pricing-left {
  min-width: auto;
  height: 400px;
  width: 100%;
  padding-right: 0.5em;
}

.pricing-left h3 {
  color: #0a8f5b;
  margin-bottom: 15px;
}

.pricing-left ul {
  padding-left: 18px;
  margin-bottom: 20px;
}

.pricing-left li {
  margin-bottom: 10px;
  color: #444;
  line-height: 1.5;
}

.basic-link a {
  color: #0a8f5b;
  text-decoration: underline;
}

/* CARDS */

.card {
  background: #fff;

  padding: 1em 0;
  min-width: auto;
  height: 500px;
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
}

.card h2 {
  color: #0a8f5b;
  margin-top: 2em;
  margin-bottom: 10px;
}

.price {
  color: #555;
  font-size: 1.5em;
  margin-bottom: 20px;
}

button {
  background: #22c55e;
  border: none;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background: #16a34a;
}

/* FEATURED CARD */
.featured {
  border: 2px solid #22c55e;
  height: 600px;
  border-radius: 1em 1em 0 0;
}

.badge {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 100%;
  border-radius: 1em 1em 0 0;
  transform: translateX(-50%);
  background: #22c55e;
  color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
}
.complex {
  border-bottom: 1px solid #ddd;
}
.complex p {
  margin-bottom: 1em;
}
/* FEATURES */
.features {
  padding: 0 1em;
  text-align: left;
}

.features .title {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}

.features ul {
  padding-left: 18px;
}

.features li {
  list-style: none;

  margin-bottom: 8px;
  color: #444;
}

.features li::before {
  content: "\2713";
  color: #16a34a;
  margin-right: 0.5em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 3;
}

@media (max-width: 767px) {
  nav ul {
    display: none;
  }
  .burger div {
    display: block;
  }
  nav {
    padding: 1em;
  }
  header h1 {
    padding: 0.5em 0.5em;
    font-size: 2.7rem;
    text-align: left;
    font-weight: 800;
    line-height: 1;
  }
  header p {
    text-align: left;
    padding: 0 1em;
    width: 100%;
  }
  .burger {
    right: 1em;
    top: 2em;
  }
  .pricing {
    height: auto;
  }
}
@media (max-width: 900px) {
  header {
    margin-bottom: 0;
  }

  .pricing {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
  }

  .pricing-left {
    max-width: 100%;
    text-align: left;
    height: auto;
    padding: 1em;
  }

  .features {
    text-align: center;
  }
  button {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 98%;
    bottom: 3em;
  }
  .card {
    height: 500px;
  }
}
@media (min-width: 200px) and (max-width: 500px) {
  button {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 98%;
    bottom: 0;
  }
}
